{% extends "layout.html" %}
{% block body %}
{{ super() }}

<div class="py-5 text-center">
    <h2>Particle Tracker</h2>
    <hr/>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <h4 class="card-header d-flex justify-content-between align-items-center">
                <span>Media</span>
                <span class="badge badge-secondary">{{file_list|length}}</span>
            </h4>
            <div class="list-group list-group-flush" id="fileList" role="filelist">
                {% for file in file_list %}
                <a class="list-group-item list-group-item-action" index="{{file.id}}" extension="{{file.extension}}"
                   data-toggle="list" role="file"
                   href="#"
                   aria-controls="profile">{{file.name}}</a>
                {% endfor %}
            </div>


            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addFileModal">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                    Add
                </button>
                <button id="deleteBtn" type="button" class="btn btn-outline-danger" data-toggle="modal"
                        data-target="#deleteModal" disabled>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
                    Delete
                </button>
            </div>
        </div>
    </div>

    <!--    Add file modal-->
    <div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="addFileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFileModalLabel">Upload file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/" method="POST" enctype="multipart/form-data" id="uploadFileForm">

                        <div class="form-group">
                            <div class="form-group">
                                <label for="fileName">File name <span
                                        class="text-muted"><small>- required</small></span></label>
                                <input type="text" class="form-control" name="fileName" id="fileName"
                                       aria-describedby="fileNameHelp" required>
                            </div>

                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="file" id="file" required>
                                <label for="file" class="custom-file-label">Choose file</label>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="addFileBtn" type="submit" form="uploadFileForm" class="btn btn-primary">Upload file
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--    Delete modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete media</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        Are you sure you want to delete the selected media? <br/>This action cannot be
                        undone.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="deleteConfirmBtn" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <h4 class="card-header">
                Preview
            </h4>
            <div class="card-body">
                <video width="100%" id="video_player" controls>
                </video>
            </div>
        </div>
    </div>
</div>

<script>
    let selectedFile;

    $('#fileList a').on('click', function (e) {
        if(selectedFile !== this.getAttribute("index")) {
            e.preventDefault()
            $("#video_player").html('<source src="../static/uploads/' + this.innerHTML + '.' + this.getAttribute("extension") + '"' + 'type="video/mp4"></source>');
            $("#video_player")[0].load()

            selectedFile = this.getAttribute("index")
        }

        enableDeleteButton();
       })

    $('#deleteBtn').on('click', function(e) {
        console.log("delete clicked")
        $('#deleteConfirmBtn').attr("href", "/delete_file/" + selectedFile)
    })

    function enableDeleteButton() {
        $("#deleteBtn").prop('disabled', false)
    }


</script>

{% endblock %}