{% extends "layout.html" %}
{% block body %}
{{ super() }}

<script>
    defaultProperties = {
        "mpp": '{{ properties.mpp }}',
        "fd": '{{ properties.fd }}',
        "radius": '{{ properties.radius }}'
    }

    function change_file(file_name, extension) {
        $.ajax({
            url: Flask.url_for('select_file', {file_name: file_name + "." + extension}),
            type: "POST",
            context: this,
            success: function (response) {
                console.log(response)
            },
            error: function (xhr) {
                console.log(xhr)
            }
        })
    }
</script>

<div class="py-5 text-center">
    <h2>Particle Tracker</h2>
    <hr/>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card">
            <h4 class="card-header d-flex justify-content-between align-items-center">
                <span>Media</span>
                <span class="badge badge-secondary">{{file_list|length}}</span>
            </h4>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="list-group list-group-flush" id="fileList" role="filelist">
                            {% for file in file_list %}
                            <a class="list-group-item list-group-item-action d-flex justify-content-between"
                               index="{{file.id}}"
                               extension="{{file.extension}}"
                               fileName="{{file.name}}"
                               data-toggle="list" role="file"
                               href="#"
                               onclick="change_file('{{ file.name }}','{{file.extension}}')"
                               aria-controls="profile"><span><strong>{{file.name}}</strong></span>

                                <div>
                                    <span>{{file.extension}} | </span>
                                    <span>{{file.size}} MB</span>
                                </div>

                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="card-footer d-flex justify-content-between">
                <button id="deleteBtn" type="button" class="btn btn-outline-danger" data-toggle="modal"
                        data-target="#deleteModal" disabled>
                    Delete
                </button>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addFileModal">
                    Add
                </button>
            </div>
        </div>
        <!--    Add file modal-->
        <div class="modal fade" id="addFileModal" tabindex="-1" aria-labelledby="addFileModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addFileModalLabel">Upload file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/" method="POST" enctype="multipart/form-data" id="uploadFileForm">

                            <div class="form-group">
                                <div class="form-group">
                                    <label for="fileName">File name <span
                                            class="text-muted"><small>- required</small></span></label>
                                    <input type="text" class="form-control" name="fileName" id="fileName"
                                           aria-describedby="fileNameHelp" required>
                                </div>

                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file" id="file" required>
                                    <label for="file" class="custom-file-label">Choose file</label>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="addFileBtn" type="submit" form="uploadFileForm" class="btn btn-primary">Upload file
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--    Delete modal-->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete media</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">
                            Are you sure you want to delete the selected media? <br/>This action cannot be
                            undone.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a id="deleteConfirmBtn" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card">
            <h4 class="card-header d-flex justify-content-between align-items-center">
                <span>Properties</span>
                <p class="h6 text-muted" id="propertiesSavedStatus">Saved</p>
            </h4>

            <div class="card-body">
                <div class="alert alert-info text-center" role="alert" id="propertiesFileAlert">
                    Select a file above to preview results.
                </div>

                <div class="row d-none" id="propertiesWrapper">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="mppRange"><strong>Micron per pixel</strong></label>
                            <input type="range" class="custom-range" id="mppRange" min="0" max="1" step="0.001"
                                   value="{{properties.mpp}}">
                            <p id="mppDisplay" class="text-center h4 mt-1">{{properties.mpp}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="fdRange"><strong>Feature diameter</strong></label>
                            <input type="range" class="custom-range" id="fdRange" value="{{properties.fd}}" max="10"
                                   min="0" step="0.2">
                            <p class="text-center h4 mt-1"><span
                                    id="fdDisplay">{{properties.fd}}</span><span>&#181;m</span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label><strong>Radius</strong></label>
                        <p id="radiusDisplay" class="text-center h4 mt-1">{{properties.radius}}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary" id="defaultPropertiesBtn" disabled>Default
                </button>
                <button type="button" class="btn btn-outline-primary" id="saveProperties" disabled>Save</button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <div class="card">
            <h4 class="card-header">
                Preview
            </h4>

            <div class="card-body">
                <div class="alert alert-info text-center" role="alert" id="selectFileAlert">
                    Select a file above to preview results.
                </div>
                <div class="row d-none" id="previewWrapper">
                    <div class="col-md-6" style="border-right: 1px solid gray">
                        <div class="mb-2 bg-dark p-2 rounded" id="frameTracking">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" rel="tooltip" data-placement="top" disabled
                                        data-original-title="Current frame rate.">FPS:
                                </button>
                                <button id="fps" class="btn btn-sm btn-success"
                                        rel="tooltip" data-placement="top" data-original-title="Current frame rate."
                                        disabled>24
                                </button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" rel="tooltip" data-placement="top" disabled
                                        data-original-title="Current frame rate.">SMPTE:
                                </button>
                                <button id="time_code" class="btn btn-sm btn-success"
                                        rel="tooltip" data-placement="top" data-original-title="Current frame rate."
                                        style="text-align: left; width: 120px"
                                        disabled>00:00:00:00
                                </button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm" rel="" data-placement="top" disabled
                                        data-original-title="Current frame rate.">Frame:
                                </button>
                                <button id="frame_count" class="btn btn-sm btn-success"
                                        rel="tooltip" data-placement="top" data-original-title="Current frame rate."
                                        style="text-align: left; width: 120px"
                                        disabled>00
                                </button>
                            </div>
                        </div>
                        <video width="100%" id="video_player" controls>
                        </video>
                        <div class="d-flex justify-content-center mt-1">
                            <button type="button" class="btn btn-secondary mr-2" onclick="seekBackward(-1, 29.97)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-secondary" onclick="seekForward(1, 29.97)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mb-2 bg-dark p-2 rounded d-flex justify-content-between">

                            <div id="trackingDetails">
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-sm" rel="tooltip" data-placement="top" disabled
                                            data-original-title="Current frame rate.">Features found:
                                    </button>
                                    <button id="featuresFound" class="btn btn-sm btn-success"
                                            rel="tooltip" data-placement="top" data-original-title="Current frame rate."
                                            disabled>0
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-sm" rel="tooltip" data-placement="top" disabled
                                            data-original-title="Current frame rate.">Time taken:
                                    </button>
                                    <button id="timeTaken" class="btn btn-sm btn-success"
                                            rel="tooltip" data-placement="top" data-original-title="Current frame rate."
                                            disabled>0.000
                                    </button>
                                </div>
                            </div>

                            <div class="btn-group">
                                <button id="retrieve" type="button" class="btn btn-sm btn-primary">Update
                                </button>
                            </div>

                        </div>
                        <div class="border">
                            <div class="spinner-border position-absolute" role="status" id="spinner"
                                 style="left:50%; top: 50%;">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <img width="100%"
                                 src='data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480"%3E%3C/svg%3E'
                                 id="myImage">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer d-flex justify-content-end">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal" id="exportBtn" disabled>
                    Export
                </button>
                <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exportModalTitle">Export</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <label><strong>Format</strong></label><br>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="videoRadioBtn" name="customRadioInline1"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline1">Video</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="csvRadioBtn" name="customRadioInline1"
                                               class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline2">CSV
                                        </label>
                                    </div>
                                </div>

                                <hr/>

                                <div class="alert alert-info" role="alert">
                                    <p>
                                        <strong>Video:</strong> combine all frames from the video into a single video
                                        file,
                                        the
                                        frames will consist of particle location annotation along with X and Y axis
                                        labels.
                                    </p>

                                    <p>
                                        <strong>Comma-separated values (CSV):</strong> contains a CSV file containing
                                        columns <code>y, x, mass, size, ecc, signal, raw_mass, ep, frame,
                                        particle</code>
                                    </p>

                                    <p>
                                        <strong>Note:</strong> the export process will take a few minutes to complete.
                                    </p>
                                </div>

                                <div class="text-center d-none" id="exportSpinner">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <p class="mt-2">Creating CSV</p>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="downloadBtn">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/video_player_functions.js') }}"></script>

<script>

    $('#deleteBtn').on('click', function (e) {
        $('#deleteConfirmBtn').attr("href", "/delete_file/" + selectedFile)
    })

    function enableDeleteButton() {
        $("#deleteBtn").prop('disabled', false)
    }

</script>

{% endblock %}